In [6]:
import pandas as pd

# 載入數據
df1 = pd.read_excel(r'C:\Users\User\Dropbox\Movie\鄭伊廷\台灣國片長片資料.xlsx')
df2 = pd.read_excel(r'C:\Users\User\Dropbox\Movie\游兆愷\電影資料_基本變數.xlsx')

In [7]:
# df1 和 df2 是已經載入的 DataFrame
# 確保 PlayID 和 播映編碼 是整數類型
df1['PlayID'] = df1['PlayID'].astype(int)
df2['播映編碼'] = df2['播映編碼'].astype(int)

# 使用 inner join 合併數據，只保留匹配的記錄
df1 = df1.merge(df2[['播映編碼', '該日票房']], left_on='PlayID', right_on='播映編碼', how='inner')

# 刪除合併後多餘的 '播映編碼' 列
df1.drop('播映編碼', axis=1, inplace=True)

# 將 '該日票房' 更名為 'Daily_box_office'
df1.rename(columns={'該日票房': 'Daily_box_office'}, inplace=True)

       PlayID  MovieID  PlayWeek  Weekend  Play_nWeek  PlayMonth  PlayYear  \
0         227       28         1        1           0          1      2017
1         228       28         1        1           0          1      2017
2         229       28         1        1           0          1      2017
3         230       28         1        1           0          1      2017
4         243       32         1        1           0          1      2017
...       ...      ...       ...      ...         ...        ...       ...
74227  654880     4232         7        1           4         12      2022
74228  654881     4232         7        1           4         12      2022
74229  654882     4232         7        1           4         12      2022
74230  654883     4232         7        1           4         12      2022
74231  654884     4232         7        1           4         12      2022

       ViewDay  CutBack  GHA_View_Code  ...  rate_1  rate_2  rate_3  rate_4  \
0            0        0              1  ...       1       0       0       0
1            0        0              1  ...       1       0       0       0
2            0        0              1  ...       1       0       0       0
3            0        0              1  ...       1       0       0       0
4            0        0              4  ...       0       0       0       1
...        ...      ...            ...  ...     ...     ...     ...     ...
74227        8        0              1  ...       1       0       0       0
74228        8        0              1  ...       1       0       0       0
74229        8        0              1  ...       1       0       0       0
74230        8        0              1  ...       1       0       0       0
74231        8        0              1  ...       1       0       0       0

       distributor_1  distributor_2  distributor_3  lnsubsidy  lnbudget  \
0                  1              0              0   6.216606       0.0
1                  1              0              0   6.216606       0.0
2                  1              0              0   6.216606       0.0
3                  1              0              0   6.216606       0.0
4                  1              0              0   0.000000       0.0
...              ...            ...            ...        ...       ...
74227              0              0              1   0.000000       0.0
74228              0              0              1   0.000000       0.0
74229              0              0              1   0.000000       0.0
74230              0              0              1   0.000000       0.0
74231              0              0              1   0.000000       0.0

       Daily_box_office
0                 16480
1                 11030
2                 10820
3                   880
4                  7030
...                 ...
74227             72395
74228             33130
74229             28855
74230             21630
74231             18370

[74232 rows x 88 columns]

In [11]:
# 現在 df1 僅包含匹配 '播映編碼' 的 'Daily_box_office' 數據
print(df1['Daily_box_office'])

# 檢查數據信息
print(df1.info())

# 檢查缺失值
print(df1.isnull().sum())

# 處理缺失值
# data.fillna(method='ffill', inplace=True)  # 以前一個數值填充，也可選擇其他方法

0        16480
1        11030
2        10820
3          880
4         7030
         ...
74227    72395
74228    33130
74229    28855
74230    21630
74231    18370
Name: Daily_box_office, Length: 74232, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74232 entries, 0 to 74231
Data columns (total 88 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PlayID             74232 non-null  int32
 1   MovieID            74232 non-null  int64
 2   PlayWeek           74232 non-null  int64
 3   Weekend            74232 non-null  int64
 4   Play_nWeek         74232 non-null  int64
 5   PlayMonth          74232 non-null  int64
 6   PlayYear           74232 non-null  int64
 7   ViewDay            74232 non-null  int64
 8   CutBack            74232 non-null  int64
 9   GHA_View_Code      74232 non-null  int64
 10  TFF_View_Code      74232 non-null  int64
 11  Theater_Class      74232 non-null  int64
 12  Audience           74232 non-null  int64
 13  Tempture           74232 non-null  float64
 14  Rainfall           74232 non-null  float64
 15  No_Weather         74232 non-null  int64
 16  MovieFest          74232 non-null  int64
 17  Rated              74232 non-null  int64
 18  Class_Darma        74232 non-null  int64
 19  Class_Comedy       74232 non-null  int64
 20  Class_Action       74232 non-null  int64
 21  Class_Documentary  74232 non-null  int64
 22  Class_Animation    74232 non-null  int64
 23  Class_Other        74232 non-null  int64
 24  Class_#N/A         74232 non-null  int64
 25  Movie_Length       74232 non-null  int64
 26  No_Movie_Length    74232 non-null  int64
 27  Director_Award     74232 non-null  int64
 28  Producer_Famous    74232 non-null  int64
 29  Distrbutor         74232 non-null  int64
 30  Budget             74232 non-null  float64
 31  No_Budget          74232 non-null  int64
 32  Actor_Awardall     74232 non-null  int64
 33  Subsidy_Amount     74232 non-null  int64
 34  Subsidy_Yes        74232 non-null  int64
 35  IMDb_rating        74232 non-null  float64
 36  No_IMDb            74232 non-null  int64
 37  Oscar_Nom          74232 non-null  int64
 38  Oscar_AwardTotal   74232 non-null  int64
 39  No_Oscar           74232 non-null  int64
 40  Cannes_Nom         74232 non-null  int64
 41  Cannes_AwardTotal  74232 non-null  int64
 42  No_Cannes          74232 non-null  int64
 43  GHA_Nom            74232 non-null  int64
 44  GHA_AwardTotal     74232 non-null  int64
 45  No_GHA             74232 non-null  int64
 46  TFF_Nom            74232 non-null  int64
 47  TFF_AwardTotal     74232 non-null  int64
 48  No_TFF             74232 non-null  int64
 49  TFF_NomData        74232 non-null  int64
 50  view_afhorse       74232 non-null  int64
 51  view_aftaipei      74232 non-null  int64
 52  year_2018          74232 non-null  int64
 53  year_2019          74232 non-null  int64
 54  year_2020          74232 non-null  int64
 55  year_2021          74232 non-null  int64
 56  year_2022          74232 non-null  int64
 57  month_2            74232 non-null  int64
 58  month_3            74232 non-null  int64
 59  month_4            74232 non-null  int64
 60  month_5            74232 non-null  int64
 61  month_6            74232 non-null  int64
 62  month_7            74232 non-null  int64
 63  month_8            74232 non-null  int64
 64  month_9            74232 non-null  int64
 65  month_10           74232 non-null  int64
 66  month_11           74232 non-null  int64
 67  month_12           74232 non-null  int64
 68  view_week_1        74232 non-null  int64
 69  view_week_2        74232 non-null  int64
 70  view_week_3        74232 non-null  int64
 71  view_week_4        74232 non-null  int64
 72  view_week_58       74232 non-null  int64
 73  view_week_912      74232 non-null  int64
 74  theater_1          74232 non-null  int64
 75  theater_2          74232 non-null  int64
 76  theater_3          74232 non-null  int64
 77  theater_4          74232 non-null  int64
 78  rate_1             74232 non-null  int64
 79  rate_2             74232 non-null  int64
 80  rate_3             74232 non-null  int64
 81  rate_4             74232 non-null  int64
 82  distributor_1      74232 non-null  int64
 83  distributor_2      74232 non-null  int64
 84  distributor_3      74232 non-null  int64
 85  lnsubsidy          74232 non-null  float64
 86  lnbudget           74232 non-null  float64
 87  Daily_box_office   74232 non-null  int64
dtypes: float64(6), int32(1), int64(81)
memory usage: 49.6 MB
None
PlayID              0
MovieID             0
PlayWeek            0
Weekend             0
Play_nWeek          0
                   ..
distributor_2       0
distributor_3       0
lnsubsidy           0
lnbudget            0
Daily_box_office    0
Length: 88, dtype: int64

In [14]:
# 假設 df1 已經是合併後的數據框
# 將 df1 寫入到 Excel 文件中，文件名為 'merged_data.xlsx'
df1.to_excel(r"C:\Users\User\Dropbox\Movie\df3.xlsx", index=False)